[submodule "openshift-ansible"]
   path = openshift-ansible
   url = https://github.com/oveits/openshift-ansible
   branch = 39b0648d4c73e55960fb5cb943c83af0f0d032a9

[submodule "terraform.py"]
   path = terraform.py 
   url = https://github.com/oveits/terraform.py
   #branch = development
   branch = 6b2320b7fff2b2a235c780d5d0e3faccbb068591

[submodule "openshift-terraform-ansible"]
   path = openshift-terraform-ansible
   url = https://github.com/oveits/openshift-terraform-ansible
   #branch = master
   branch = cff9bcb9b2cd075a31d220cf3ded265feecea862


