[submodule "openshift-ansible"]
   path = openshift-ansible
   url = https://github.com/oveits/openshift-ansible
   branch = release-3.10-2018-10-19-with-hotfix-htpass_provider

[submodule "terraform.py"]
   path = terraform.py 
   url = https://github.com/oveits/terraform.py
   #branch = development
   branch = 6b2320b7fff2b2a235c780d5d0e3faccbb068591

[submodule "openshift-terraform-ansible"]
   path = openshift-terraform-ansible
   url = https://github.com/oveits/openshift-terraform-ansible
   #branch = master
   branch = bcc1458ec49dfda42b2098cb02cdedbb91ea3102


